div[id^="target"] {
    width: 512px;
    height: 512px;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    padding: 1em;
}

/* Hide the HTML using z-index. */

/* Can't use display: none because that would hide the HTML in the rendered material. */

div[id^="htmlTarget"].hide {
    z-index: -10;
}

div[id^="htmlTarget"] {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

img {
    width: 100%;
    object-fit: cover;
}